#red {
  color:red;
}
.bannerImg {
  margin-top: 0;
  background-image: url("../images/type.jpg");
  width: 100%;
  height: 200px;
  /*position: relative;*/
}
.headName {
  margin: 0;
  width: 100%;
  /*position: fixed;*/
  top: 0;
  color: white;
  background-color: black;
  opacity: .5;
  font-family: sans-serif;
}
#menu {
  padding
  margin: 0;
}
