#red {
  color:red;
}
.bannerImg {
  margin-top: 0;
  background-image: url("../images/type.jpg");
  width: 100%;
  height: 15em;
}
.headName {
  float: left;
  margin: 0;
  /*width: 100%;*/
  /*position: fixed;*/
  top: 0;
  color: white;
  background-color: black;
  opacity: .5;
  font-family: sans-serif;
}
#menu {
  padding: 10px;
  margin: 0;
}
#navMenu {
  color: white;
  list-style: none;
  padding: 0;
  margin: 0;
}
.navTabs {
  display: inline-block;
}
.navBar {
  float: left;
}
