header {
  margin: 0 auto;
}

.headContainer {
  background: url("../images/type.jpg") center no-repeat;
  width: 100%;
  height: 25em;
}
.headMenu {
  list-style: none;
  margin: 0 auto;
  padding-top: 2%;
}
.headName {
float: left;
}
.navTabs {
  padding: 1em;
  float: right;
}

.headNav {
  position: fixed;
  height: 6em;
  width: 100%;
  top: -10px;
  opacity: 0.8;
  background-color: white;
}
