
.imageGrid {
width: 100%;
z-index: 0;
}
#popSci {
  -webkit-filter: contrast(120%);
  display: block;
  width: 100%;
}
.square {
  width: 100%;
}
.oneThird {
  -webkit-filter: brightness(110%);
  -webkit-filter: contrast(130%);
  display: block;
  width: 33.3%;
  float: left;
}
