
.itemContainer {
  position: relative;
  display: inline-block;

}
.folioImg {
  margin-top: 2em;
  position: relative;
  float: left;
  width: 35%;
}
.description {
  padding-left: 2em;
  margin-top: 1em;
  width: 40%;
  height: auto;
  position: relative;
  float: left;
}
.stack{
  padding: 0;
  list-style: none;
}
.stack li{
  display: inline-block;;
}
